@model IndexModel

<div class="card" hx-target="this" hx-swap="outerHTML">
    <div class="card-header">
        <h2>Start Progress</h2>
    </div>
    <div class="card-body">
        <button class="btn btn-danger" hx-post hx-page="Index" hx-page-handler="Start">
            Start Job
        </button>
    </div>
</div>