@model IndexModel

<div id="search-results">
  <h5 class="text-center mountains-of-christmas-regular fs-3">Christmas Gift List</h5>
  <ul class="list-group">
    @foreach (var item in Model.Results)
    {
      <li class="list-group-item">@item</li>
    }
  </ul>
  <p class="my-3 text-center">
    🔎 Showing @Model.Results.Count() of @Model.TotalCount
  </p>
</div>

