@page
@model Htmxmas.Pages.Samples.Day_04.Index

@{
    ViewData["Title"] = "Day 4: What a Drag!";
}

<div class="row">
    <div class="col-6">
        <markdown>
            # Day 4: What a Drag!
            
            Htmx works on "triggers", and typically these triggers are click events on an element. That said, Htmx can also work with any JavaScript event that you want. In this example, we'll use the `drop` event to trigger a request to the server.
            
            Drag the gift under the tree to trigger the request.
            
            ## How Does This Work?
            
            Htmx uses the `hx-trigger` attribute to specify the event that should trigger the request. In this case, we're using the `drop` event. We need a little more JavaScript to handle the event, but it's very minimal as you can see below.
            
            ```razor
            <div class="col">
                <!-- allow drop by disabling drag over event -->
                <script>
                    function allowDrop(e) {
                        e.preventDefault();
                    }
                </script>
                <div id="livingRoom" class="row text-center">
                    <h4 class="text-center">Drag the gift under the tree</h4>
                    <div class="col">
                        <img draggable="true"
                             src="~/img/gift.svg" width="100" height="100" alt="gift"/>
                    </div>
                    <div
                        hx-get
                        hx-page="Index"
                        hx-page-handler="Drop"
                        hx-trigger="drop"
                        hx-target="#livingRoom"
                        ondragover="allowDrop(event)"
                        class="col">
                        <img src="~/img/tree.svg" width="400" height="400" alt="tree"/>
                    </div>
                </div>
            </div>
            ```
            
            Once the request is received, the server returns an alert notification.
            
            ```csharp
            public ContentResult OnGetDrop()
            {
                // language=html
                return Content(
                    """
                    <div class="alert alert-info">
                        <h5>🎁 Gift Received</h5>
                        <p>Thanks! I'm sure they'll love it! ❤️</p>
                        <button class="btn btn-danger" onclick="location.reload()">♺ Reload</button>
                    </div>
                    """
                );
            }
            ```
            
            That's it! You now have a fully functional drag and drop experience powered by Htmx.
        </markdown>
        
        @await Html.PartialAsync("_Paging", new PagingModel(4))
    </div>
     <div class="col-6">
        <!-- allow drop by disabling drag over event -->
        <script>
            function allowDrop(e) {
                e.preventDefault();
            }
        </script>
        <div id="livingRoom" class="row text-center">
            <h2 class="text-center">Drag the gift under the tree</h2>
            <div class="col">
                <img draggable="true"
                     src="~/img/gift.svg" width="100" height="100" alt="gift"/>
            </div>
            <div
                hx-get
                hx-page="Index"
                hx-page-handler="Drop"
                hx-trigger="drop"
                hx-target="#livingRoom"
                ondragover="allowDrop(event)"
                class="col">
                <img src="~/img/tree.svg" width="400" height="400" alt="tree"/>
            </div>
        </div>
    </div>
</div>